########################################################
#           Odoo Docker Deployment Config              #
########################################################
#   Configuration file for automated Odoo deployment   #
# Modify these variables according to your environment #
########################################################

# IMPORTANT!! This field must not be null and determines the data grouping.
# This variable is crucial for:
# 1. Proper data separation between different instances
# 2. Naming of company's docker containers and volumes
# 3. Creating unique networks for each deployment
# Examples: client_name_18, company_prod_18, development_18
COMPOSE_PROJECT_NAME={{ compose_project_name }}
# options: dev | prod
# -> Determines deployment target, choose adequate based on environment type
DEPLOYMENT_TARGET={{ deployment_target | default('prod') }}

#########################
# Containers & Versions #
#########################
# -> Allowed odoo versions: 16, 17, 18, 19, latest
ODOO_VERSION={{ odoo_version }}
POSTGRES_VERSION={{ postgres_version | default('17') }}

##########################
# Network & Connectivity #
##########################
# -> Domain for this Odoo, ej: example.loxika.com
DOMAIN={{ domain | default('') }}
# Odoo access port, make sure this port is not beeing used by other app
ODOO_EXPOSED_PORT={{ odoo_exposed_port | default('8069') }}
ODOO_WEBSOCKET_EXPOSED_PORT={{ odoo_websocket_exposed_port | default('8072') }}
# Don´t change unless necessary
ODOO_INTERNAL_PORT={{ odoo_internal_port | default('8069') }}
ODOO_WEBSOCKET_INTERNAL_PORT={{ odoo_websocket_internal_port | default('8072') }}

########################
# File System & Paths  #
########################
# -> Route to the Odoo config file, don´t change unless necessary
ODOO_CONFIG={{ odoo_config | default('./config/odoo.conf') }}
# -> Route to the postgres config file, don't change unless neccessary
POSTGRES_CONFIG={{ postgres_config | default('./config/postgresql.conf') }}
# -> Addons path, can be relative or absolute
ODOO_ADDONS={{ odoo_addons | default('./addons') }}

#######################################
#  Module Management and automation   #
#######################################
# options: true | false
# -> Auto install modules on container start up
AUTO_INSTALL_MODULES={{ auto_install_modules | default('true') }}
# options: true | false
# -> Auto update modules on container start up
# Non installed modules wont be updated, however,
# modules modifyin base odoo modules might need to bee updated before installing
AUTO_UPDATE_MODULES={{ auto_update_modules | default('true') }}
# options: empty | list of module names separated by comas ej: ps_module_sales, ps_module_contacts
# -> This option overrides "AUTO_UPDATE_MODULES", only the modules listed here will be updated
# ej: base_geoengine,fieldservice_geoengine | Alternatively, you can write 'all' (without the '') to update all modules
UPDATE_MODULE_LIST={{ update_module_list | default('') }}
# options: true | false #Caution required
# -> Force module update, enabling this option may break your odoo instalation
FORCE_UPDATE={{ force_update | default('false') }}
# options: true | false
# -> Create a fresh database for odoo if this option is set to true
AUTO_CREATE_DATABASE={{ auto_create_database | default('false') }}
INITIAL_DB_MASTER_PASS={{ initial_db_master_pass | default('master') }}
INITIAL_DB_NAME={{ initial_db_name | default('master') }}
INITIAL_DB_USER={{ initial_db_user | default('master') }}
INITIAL_DB_USER_PASS={{ initial_db_user_pass | default('master') }}

########################
# Build & Development  #
########################
# options: true | false
# -> Enabling this option will force a rebuild of the docker image on each startup
FORCE_REBUILD={{ force_rebuild | default('false') }}

########################
# Optional Features    #
########################
# options: true | false
OPTIONAL_WHISPER={{ optional_whisper | default('false') }}
OPTIONAL_POSTGIS={{ optional_postgis | default('false') }}
