- name: Make sure necessary packages are installed
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop:
    - libxdamage1
    - libgbm1
    - libxkbcommon0
    - pip

- name: Install necessary python packages
  pip:
    name:
      - "{{ item }}"
    state: latest
    break_system_packages: true
  loop:
    - "{{ docker_launcher }}"
    - PyJWT
    - cryptography
