- name: Make sure necessary packages are installed
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop:
    - libxdamage1
    - libgbm1
    - libxkbcommon0
    - pip

- name: Fix JWT package conflict
  pip:
    name: jwt
    state: absent
    break_system_packages: true

- name: Force reinstall PyJWT
  pip:
    name: PyJWT
    state: latest
    break_system_packages: true
  environment:
    PIP_FORCE_REINSTALL: "1"

- name: Install necessary python packages
  pip:
    name:
      - "{{ item }}"
    state: latest
    break_system_packages: true
  loop:
    - "{{ docker_launcher }}"
    - cryptography
