- name: relaunch containers
  command:
    chdir: "{{ odoo_path }}"
    cmd: "{{ docker_launcher }} --no-color"
  register: docker_output
  failed_when: false
  notify: check docker output
  listen: restart docker service

- name: check docker output
  ansible.builtin.fail:
    msg: "Docker output:\n{{ docker_output.stdout }}\n{{ docker_output.stderr }}"
  when: docker_output.rc != 0 or 'FAILURE LOGS' in docker_output.stdout
