- name: relaunch containers
  block:
    - name: Run launcher
      command:
        chdir: "{{ odoo_path }}"
        cmd: "{{ docker_launcher }} --no-color"
      register: docker_output
      failed_when: false

    - name: Show output
      debug:
        var: docker_output.stderr_lines

    - name: Fail if error detected
      ansible.builtin.fail:
        msg: "Launcher failed, see output above."
      when: docker_output.rc != 0 or 'FAILURE LOGS' in docker_output.stderr
  listen: restart docker service

