- name: Create DNS records for each subdomain
  community.general.cloudflare_dns:
    zone: "{{ item.split('.')[-2:] | join('.') }}"
    record: "{{ item.split('.')[:-2] | join('.') }}"
    type: A
    value: "{{ forward_ip }}"
    api_token: "{{ lookup('env', 'CLOUDFLARE_TOKEN') }}"
    comment: "DNS record created by Ansible for client {{ compose_project_name }}"
  loop: "{{ domain }}"
  register: record
