- name: Detect full run
  hosts: all
  gather_facts: no
  tasks:
    - name: assert limit
      run_once: yes
      assert:
        that:
          - 'ansible_limit is defined'
        fail_msg: Playbook must be run with a limit

- name: Deploy and configure a set of Odoo containers
  hosts: "device_roles_odoo:&prod"
  become: true
  gather_facts: false
  pre_tasks:
    - name: Wait for SSH
      ansible.builtin.wait_for_connection:
        delay: 15
        timeout: 120

    - name: Gather facts
      ansible.builtin.setup:
  roles:
    - docker
    - install_pip
    - cloudflare_dns
    - loki_client
    - odoo_docker_install_packages
    - odoo_docker
    - odoo_docker_watchdog
#    - odoo_docker_configure_web_base_url
    - odoo_traefik_dynamic

- name: Wait for Odoo to be ready and configure web.base.url
  hosts: "device_roles_odoo:&prod"
  become: true
  gather_facts: false
  tasks:
    - name: Flush handlers before configuring
      ansible.builtin.meta: flush_handlers

  roles:
    - odoo_docker_configure_web_base_url
