- name: Deploy and configure all Odoo containers
  hosts: "device_roles_odoo:&prod"
  become: true

  roles:
    - docker
    - install_pip
    - cloudflare_dns
    - loki_client
    - odoo_docker_install_packages
    - odoo_docker
    - odoo_docker_watchdog
    - odoo_docker_configure_web_base_url
    - odoo_traefik_dynamic
