- name: Detect full run
  hosts: all
  gather_facts: no
  tasks:
    - name: assert limit
      run_once: yes
      assert:
        that:
          - 'ansible_limit is defined'
        fail_msg: Playbook must be run with a limit

- name: Deploy and configure a set of Odoo containers
  hosts: "device_roles_odoo:&prod"
  become: true
  pre_tasks:
    - name: Wait for SSH
      ansible.builtin.wait_for_connection:
        delay: 10
        timeout: 120

  roles:
    - docker
    - install_pip
    - cloudflare_dns
    - odoo_docker
    - loki_client
    - odoo_traefik_dynamic
