- name: Detect full run
  hosts: all
  gather_facts: no
  tasks:
    - name: assert limit
      run_once: yes
      assert:
        that:
          - 'ansible_limit is defined'
          - '(ansible_limit | replace(",localhost", "") | replace("localhost,", "")).split(",") | length == 1'
        fail_msg: Playbook must be run with a limit for exactly one host (excluding localhost)


- name: Execute OpenTofu from Ansible
  hosts: localhost
  gather_facts: false

  vars:
    tf_dir: "../../tofu"
    host: "{{ ansible_limit | replace(',localhost', '') | replace('localhost,', '') }}"
    vmid:

  tasks:
    - name: Check if OpenTofu exists
      ansible.builtin.command: tofu version
      register: tf_version
      changed_when: false

    - name: Delete credentials.auto.tfvars if it exists
      ansible.builtin.file:
        path: "{{ tf_dir }}/credentials.auto.tfvars"
        state: absent

    - name: Generate variables file
      ansible.builtin.copy:
        content: |
          hostname = "{{ host }}"
        dest: "{{ tf_dir }}/terraform.tfvars"
        mode: '0644'

    - name: Tofu init
      ansible.builtin.command: >
        tofu init -input=false -reconfigure
      args:
        chdir: "{{ tf_dir }}"

    - name: Remove old cloudflare_record.vm_dns from tfstate if it exists
      ansible.builtin.command: >
        tofu state rm cloudflare_record.vm_dns
      args:
        chdir: "{{ tf_dir }}"
      register: tf_state_rm_cloudflare
      failed_when: false
      changed_when: tf_state_rm_cloudflare.rc == 0

    - name: Check if VM is already in tfstate
      ansible.builtin.command: >
        tofu state show proxmox_vm_qemu.vm
      args:
        chdir: "{{ tf_dir }}"
      register: tf_state_check
      failed_when: false
      changed_when: false

    # If the VM is not in tfstate, we need to verify if it exists in Proxmox, if it exists, we need
    # to import it into tfstate with its vmid, otherwise we create the VM normally.
    - name: Get all VMs from node
      ansible.builtin.uri:
        url: "https://51.255.93.43:8006/api2/json/nodes/{{ hostvars[host]['node'] }}/qemu"
        method: GET
        headers:
          Authorization: "PVEAPIToken={{ lookup('env', 'TF_VAR_proxmox_api_token_id') }}={{ lookup('env', 'TF_VAR_proxmox_api_token_secret') }}"
        validate_certs: false
      register: all_vms
      when: tf_state_check.rc != 0

    - name: Find VM by name
      ansible.builtin.set_fact:
        found_vm: "{{ all_vms.json.data | selectattr('name', 'equalto',  hostvars[host]['vm_name']) | list | first | default(None) }}"
      when: tf_state_check.rc != 0

    - name: Fail if VM is not in tfstate, and is not already created in Proxmox, and vmid is not set
      ansible.builtin.fail:
        msg: "The VM doesn't have a tfstate and vmid isn't valid. Set a valid vmid to import the VM (e.g: 100, 200)."
      when: >
        tf_state_check.rc != 0 and
        found_vm is none and
        (vmid is not defined or vmid | string | trim == '' or
        vmid | string is not match('^\d+$'))

    - name: Import VM if not in tfstate, and is not already created in Proxmox, and vmid is set
      ansible.builtin.command: >
        tofu import -input=false -no-color
        proxmox_vm_qemu.vm
        {{ host }}/qemu/{{ vmid }}
      args:
        chdir: "{{ tf_dir }}"
      when: >
        tf_state_check.rc != 0 and
        found_vm is none and
        vmid is defined and vmid | string | trim != '' and
        vmid | string is match('^\d+$')
      register: tf_import_vm

    - name: Tofu plan
      ansible.builtin.command: >
        tofu plan -input=false -no-color
      args:
        chdir: "{{ tf_dir }}"
      register: tf_plan
      ignore_errors: true

    - name: Fail with clean error message
      ansible.builtin.fail:
        msg: >-
          {% if 'Instance cannot be destroyed' in tf_plan.stderr %}
          The VM is correctly imported in tfstate, but modifications cannot be applied. This VM will require manual intervention.
          {% else %}
          {{ tf_plan.stderr | regex_findall('Error:.*') | join('\n') }}
          {% endif %}
      when: tf_plan.rc != 0

    - name: Detect disk shrink in plan
      ansible.builtin.fail:
        msg: "You cannot shrink the disk size. Shrinking the disk requires creating a new VM."
      vars:
        current_size: "{{ tf_plan.stdout | regex_search('~ size\\s+=\\s+\"(\\d+)G\"', '\\1') | first | int }}"
        new_size: "{{ tf_plan.stdout | regex_search('->\\s+\"(\\d+)G\"', '\\1') | first | int }}"
      when:
        - tf_plan.stdout is search('~ size\s+=\s+"\d+G"\s+->\s+"\d+G"')
        - current_size | int > new_size | int   - name:

    - name: Show Tofu outputs
      ansible.builtin.command: >
        tofu output -json
      args:
        chdir: "{{ tf_dir }}"
      register: tf_outputs

    - name: Display outputs
      ansible.builtin.debug:
        msg: "{{ tf_outputs.stdout | from_json }}"

    - name: Tofu apply
      ansible.builtin.command: >
        tofu apply -input=false -auto-approve -no-color
      args:
        chdir: "{{ tf_dir }}"
      register: tf_apply