http:
  routers:
    odoo-{{ compose_project_name }}-http-router:
      rule: "{{ domain.split(',') | map('trim') | map('regex_replace', '^(.*)$', 'Host(`\\1`)') | join(' || ') }}"
      entryPoints:
        - websecure
      service: odoo-{{ compose_project_name }}-http-service
      tls:
        certResolver: letsencrypt
        domains:
{% set domains_list = domain.split(',') | map('trim') | list %}
          - main: {{ domains_list[0] }}
{% if domains_list | length > 1 %}
            sans:
{% for d in domains_list[1:] %}
              - {{ d }}
{% endfor %}
{% endif %}

    odoo-{{ compose_project_name }}-websocket-router:
      rule: "({{ domain.split(',') | map('trim') | map('regex_replace', '^(.*)$', 'Host(`\\1`)') | join(' || ') }}) && PathPrefix(`/websocket`)"
      entryPoints:
        - websecure
      service: odoo-{{ compose_project_name }}-websocket-service
      tls:
        certResolver: letsencrypt
        domains:
{% set domains_list = domain.split(',') | map('trim') | list %}
          - main: {{ domains_list[0] }}
{% if domains_list | length > 1 %}
            sans:
{% for d in domains_list[1:] %}
              - {{ d }}
{% endfor %}
{% endif %}
      priority: 100


  services:
    odoo-{{ compose_project_name }}-http-service:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_host }}:{{ odoo_exposed_port }}"
        healthCheck:
          path: /web/database/selector
          interval: 30s
          timeout: 5s

    odoo-{{ compose_project_name }}-websocket-service:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_host }}:8072"