# -*- coding: utf-8 -*-
{
    'name': 'Base addons list',
    'version': '1.0',
    'summary': 'This module contains the list of addons that will be installed in this odoo instance.',
    'description': '''
    ''',
    'category': 'Uncategorized',
    'author': 'Doovate',
    'company': 'Doovate',
    'maintainer': 'Doovate',
    'website': 'doovate.com',
    'depends': {{ base_addons }},
    'data': [
    ],
    'license': 'LGPL-3',
    'installable': True,
    'application': False,
    'auto_install': False,
}
