- name: Deploy and configure all Odoo containers
  hosts: "device_roles_odoo:&prod"
  become: true

  roles:
    - docker
    - install_pip
    - cloudflare_dns
    - odoo_docker
    - loki_client
    - odoo_traefik_dynamic
