{% set odoo_ram = (memory | default(2500) | int * 1024 * 1024 * 0.65) | int %}
{% set workers = (vcpus | default(1) | int * 2) %}
{% set max_cron_threads = 1 %}
{% set limit_memory_soft = (odoo_ram / (workers + max_cron_threads)) | int %}
{% set limit_memory_hard = (limit_memory_soft * 1.40) | int %}
[options]
addons_path = /usr/lib/python3/dist-packages/odoo/addons,/mnt/extra-addons,/mnt/enterprise
data_dir = /var/lib/odoo
db_name = {{ db_name | default('False') }}
db_template = {{ db_template | default('template1') }}
dbfilter = {{ dbfilter | default('.*') }}
syslog = {{ syslog | default('False') }}
db_maxconn = {{ db_maxconn | default('32') }}
list_db = {{ list_db | default('True') }}
gevent_port = {{ gevent_port | default('8072') }}
proxy_mode = {{ proxy_mode | default('True') }}
x-sendfile = {{ x_sendfile | default('True') }}
log_level = {{ log_level | default('info') }}
logfile = {{ logfile | default('None') }}
log_db = {{ log_db | default('False') }}
workers = {{ workers }}
max_cron_threads = {{ max_cron_threads | default('2') }}
limit_memory_hard = {{ limit_memory_hard }}
limit_memory_soft = {{ limit_memory_soft }}
limit_request = {{ limit_request | default('8192') }}
limit_time_cpu = {{ limit_time_cpu | default('60') }}
limit_time_real = {{ limit_time_real | default('120') }}
osv_memory_age_limit = {{ osv_memory_age_limit | default('1.0') }}
osv_memory_count_limit = {{ osv_memory_count_limit | default('False') }}
debug_mode = {{ debug_mode | default('False') }}
csv_internal_sep = {{ csv_internal_sep | default(',') }}
admin_passwd = {{ existing_admin_passwd | default('') }}

